#html {
width: 100%;
height: 100%;
color: deepskyblue;


}
#title {
    src: url(https://raw.githubusercontent.com/seva3125/seva3125.github.io/master/s/fonts/SF-Pro-Display-Light.otf)format(otf);
    font-family: SF-Pro-Display-Light;




}